<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Naver Movie Word Cloud</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/simple-line-icons.css') }}">

    <link href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/landing-page.min.css') }}">


</head>

<body>
<form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Naver Movie Word Cloud</a>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center" style="background-image: url({{ url_for('static', filename='images/background.png') }})">
        <!--    <div class="overlay"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5" style="line-height:160%;">
                        <br>영화에 대한 진짜 리뷰를 보여드립니다 <br> 당신은 어떤 영화가 궁금하신가요? </br></h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input name="url" type="text" class="form-control form-control-lg" placeholder="네이버 영화 URL을 넣어주세요">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Click !
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <h3 style="float:left;margin-left:20%">영화 포스터</h3>
<!--background-image: url({{ url_for('static', filename = 'images/movieposter.jpg') }})-->
                    <div style="padding: 3px;width: 400px; height: 400px; ;
            background-repeat:no-repeat;background-size:contain;float:left;margin-left:-10%;width:100%">

                        <img src="{{ url_for('static', filename=image_file) }}" style="width:100%;height:100%">

                    </div>

                </div>
                <div class="col-lg-4">

                    <h3>긍정 Cloud</h3>
                    <div style="width: 400px; height: 400px; background-image: url({{ url_for('static', filename = 'images/bg-showcase-1.png') }});
            background-repeat:no-repeat;background-size:contain;float:left;margin-left;width:100%;"></div>

                </div>
                <div class="col-lg-4">
                    <h3 style="float:left;margin-left:40%">부정 Cloud</h3>
                    <div style="width: 400px; height: 400px; background-image: url({{ url_for('static', filename = 'images/bg-showcase-1.png') }});
            background-repeat:no-repeat;background-size:contain;float:right;margin-right:-10%;width:100%;"></div>

                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <table class="table table-striped" style="width:80%;margin:auto">
                <thead>
                <tr>
                    <th style="text-align:center">분류</th>
                    <th style="text-align:center">리뷰 내용</th>
                    <th style="text-align:center">정확도</th>
                </tr>
                </thead>
                <tbody>
                <span>
                   {% for review, label, score in final_result %}
                    <tr>
                    <td>{{score}}</td>
                    <td>{{review}} </td>
                    <td>{{label}}</td>
                    </tr>
                   {% endfor %}
                </span>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
</body>

</html>